
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Profile</title>
</head>
<body>
    <h1>Email:  @ViewBag.Email</h1>
    <h1>Password:  @ViewBag.Password</h1>

</body>
</html>
